@model IEnumerable<User>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Пользователи</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-left">
    <div class="panel-body">
        <h2>Список всех пользователей</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Пользователи:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User r in Model)
                {
                    <tr><td>@r.Login</tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>