@model User

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Спасибо</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-left">
    <p><hl>Спасибо @Model.Login!</hl></p>
</body>
</html>