<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
	
		<target xsi:type="File" name="allfile"
				fileName="${logDirectory}/nlog-all-${shortdate}.log" deleteOldFileOnStartup="false" concurrentWrites="true" />

		<!--Мой универсальный таргет-->
		<target xsi:type="File" name="universalAppender"
				fileName="${logDirectory}/${logger:shortName=True}-${shortdate}.log" deleteOldFileOnStartup="false" concurrentWrites="true" />


		<!--Таргет для ошибок-->
		<target xsi:type="File" name="error"
				fileName="${logDirectory}/error-all-${shortdate}.log" deleteOldFileOnStartup="false" concurrentWrites="true" />

	</targets>

	<rules>
	
		<logger name="*" minlevel="Debug" writeTo="allfile" />
		<logger name="*" minlevel="Error" writeTo="error" />
		<logger name="PictureController" minlevel="Debug" writeTo="universalAppender" />
		<logger name="Registration_Logs" minlevel="Debug" writeTo="universalAppender" />

	</rules>
	
</nlog>