@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>В будущем крупный API - хаб</p>
    <p>На данный момент реализована авторизация и система ролей, процес добавления и просмотра картинок.</p>
    <p>Тестовая учетка с ролью "user": </p>
    <p>Login - test@mail.ru <br>Password - qwerty</p>
    <p>За админской учеткой обращайтесь к админу</p>
</div>
<ul>
    <li>Возможна регистрация</li>
    <li>Только пользователи с ролью "admin" могут просматривать и редактировать пользователей</li>
    <li>Только пользователи с ролью "admin" могут просматривать и редактировать роли</li>
    <li>Только пользователи с ролью "admin" могут назначать и отбирать у пользователей роли</li>
</ul>
<div>
    <p>О, кстати топ пользователей, которые добавлят картинки:</p>

    <h3>Топ 5 пользователей по добавленным картинкам</h3>
    <ul>
        @foreach (var user in Model)
        {
            <li>Имя: @user.UserName Баллов: @user.Score</li>
        }
    </ul>
</div>

