@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Допустим <a href="https://www.faceit.com/">ссылочка на фейсит</a>.</p>
</div>
