@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center">Добро пожаловать</h1>
<div class="container">
    <p class="w-50">В будущем крупный API - хаб. На данный момент реализована авторизация и система ролей, процес добавления и просмотра картинок.</p>
    <p class="w-50">Тестовая учетка с ролью "user": </p>
    <p class="w-50">Login - test@mail.ru <br>Password - qwerty</p>
</div>
<ul>
    <li>Возможна регистрация</li>
    <li>Только пользователи с ролью "admin" могут просматривать и редактировать пользователей</li>
    <li>Только пользователи с ролью "admin" могут просматривать и редактировать роли</li>
    <li>Только пользователи с ролью "admin" могут назначать и отбирать у пользователей роли</li>
</ul>
<div>
    <h3>Топ 5 активных пользователей</h3>
    <ul>
        @foreach (var user in Model)
        {
            <li>Имя: @user.UserName Баллов: @user.Score</li>
        }
    </ul>
</div>

