@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center">Добро пожаловать</h1>
<div class="container">
    <p class="w-50">На данный момент реализована авторизация и система ролей, процес добавления и просмотра картинок. Список дел.Личный кабинет</p>
    <p>В будущем будет добавлен общий чат, система постов, мини форум.</p>
</div>

<div>
    <h3>Топ 5 активных пользователей</h3>
    <ul>
        @foreach (var user in Model)
        {
            <li>Имя: @user.UserName Баллов: @user.Score</li>
        }
    </ul>
</div>

