@model IEnumerable<Picture>


@{
    ViewBag.Title = "Добавление пользователя";
}
<div>
    <h1>Что здесь происходит?</h1>
    <p>На этой странице реализована возможность добовлять картинки в базу. В нижней части страницы, выводятся все картинки которые есть в базе на данный момент.</p>
    <p>Пока что картинки сохраняются/достаются из локальной БД. В будущем этот функционал будет переопределен на удаленную БД. Так же будет создан API для доступа к случайным картинкам.
    на подобие <a href="https://cataas.com/#/">вот этого сайта.</a></p>
    <p><b>27.05.22 Update.</b></p>
    <p>
        Сделал стартовый API, пока что запускается одновременно с этим проектом. Доступны следующие методы:
        <ul>
            <li>Взять рандомную картинку: https://localhost:44316/api/picture/random <a target="_blank" href="https://localhost:44316/api/picture/random">тык</a> </li>
            <li>Взять определенную картинку  по Id: https://localhost:44316/api/picture/{id} <a target="_blank" href="https://localhost:44316/api/picture/">тык</a> </li>
            <li>Получить все картинки в Json: https://localhost:44316/api/picture/all <a target="_blank" href="https://localhost:44316/api/picture/all">тык</a> </li>
            <li>Удалить определенную картинку по Id: https://localhost:44316/api/picture/delete/{id} <a target="_blank" href="https://localhost:44316/api/picture/delete/">тык</a>
                <br>*Можно удалить только методом Delete, так что из браузера вряд ли получится.
            </li>
        </ul>
    </p>
</div>
<form asp-action="Create" asp-controller="Pictures" method="post" enctype="multipart/form-data">
    <div>
        <p>
            <label>Картинка</label>
            <input name="Picture" type="file" class="form-control" />
        </p>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </div>
</form>

<h3>Все картинки</h3>
@foreach (var p in Model)
{
<div>
    <h4>Название: @p.Name</h4>
    <h4>Id: @p.Id</h4>
    @if (p.PictureData != null)
    {
        <img style='width:320px; height:300px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(p.PictureData))" />
    }
</div>
}